@page "/"
@inherits ComponentBase
@using System.Collections.Concurrent
@using Aspire.Shield.Web.Model
@using Aspire.Shield.Web.Services
@using Aspire.Shield.Web.Components.Cards
@implements IAsyncDisposable
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>PoC</h1>

@if (_current.Any())
{
    <div class="row g-3">
        @foreach (var item in _current.Values.OrderBy(x => x.Key))
        {
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                @switch (item)
                {
                    case SampleModel.WithCount model:
                        <Aspire.Shield.Web.Components.Cards.DatabaseCard Model="@model"/>
                        break;

                    case SampleModel.WithState model:
                        <Aspire.Shield.Web.Components.Cards.HangfireCard Model="@model"/>
                        break;
                        
                    default:
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Tipo sconosciuto: @item.Key</p>
                            </div>
                        </div>
                        break;
                }
            </div>
        }
    </div>
}
else
{
    <p>Loading ...</p>
}

@code {
    [Inject] public required ReactiveService ReactiveService { get; set; }

    private IAsyncDisposable? _subscription;
    private readonly ConcurrentDictionary<string, SampleModel> _current = new();

    protected override async Task OnInitializedAsync()
    {
        _subscription = await ReactiveService.Observable
            .SubscribeAsync(async sample =>
            {
                if (sample is SampleModel.WithState { State: SampleModel.StateEnum.Completed })
                {
                    _current.TryRemove(sample.Key, out _); 
                }
                else
                {
                    _current[sample.Key] = sample;
                }

                await InvokeAsync(StateHasChanged);
            });
    }

    public async ValueTask DisposeAsync()
    {
        if (_subscription is not null) await _subscription.DisposeAsync();
    }
}