@page "/"
@inherits ComponentBase
@using Aspire.Shield.Web.Model
@using Aspire.Shield.Web.Services
@implements IAsyncDisposable
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>PoC</h1>

@if (_current.Any())
{
    <ul>
        @foreach (var item in _current)
        {
            if(item.Value is SampleModel.WithCount withCount)
            {
                <li>@item.Key: @withCount.Count</li>
            }
        }
    </ul>
}
else
{
    <p>In attesa di dati...</p>
}

@code {
    [Inject] public required ReactiveService ReactiveService { get; set; }

    private IAsyncDisposable? _subscription;
    private readonly Dictionary<string, SampleModel> _current = new();

    protected override async Task OnInitializedAsync()
    {
        _subscription = await ReactiveService.Observable
            .SubscribeAsync(sample =>
            {
                _current[sample.Key] = sample;
                InvokeAsync(StateHasChanged);
                return ValueTask.CompletedTask;
            });
    }

    public async ValueTask DisposeAsync()
    {
        if (_subscription is not null)
        {
            await _subscription.DisposeAsync();
        }
    }

}